body {
    font-family: Poppins;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
}
button {
    font-family: Poppins;
    border: none;
}
button:focus {
    outline: none;
}
